/py/lib
/py/Scripts/
!font.zip
*.o
*.lo
*.la
*.al
.libs
*.so
*.so.[0-9]*
*.a
*.pyc
*.pyo
*.rej
*~
#*#
.#*
.*.swp
.DS_Store
[Bb]in
obj
[Dd]ebug
Release
*.suo
*.user
*.pidb
*.bak
*.ncb
*.gch
x64
packages
ipch
*.sdf
*.opensdf
.vs
node_modules
*.userprefs
*.vspx
*.psess
*.iobj
*.ipdb
/Plugins/O3DforRhino/InstallWizard/Output
/Plugins/O3DexportSkeleton/deps
/Felix/Ulisse.Installer/Properties/*.resources
/ExtraLib/picodex/x86/saturn.render.iobj
/ExtraLib/picodex/x86/saturn.render.ipdb
/ExtraLib/picodex/x32/saturn.render.dll
/ExtraLib/picodex/x32/saturn.render.dll
/ExtraLib/picodex/x32/saturn.render.ilk
/ExtraLib/picodex/x32/saturn.render.pdb
/Felix/InstallWizard/Files64/notCritical
/Felix/InstallWizard/Output
Ulisse.Luxrender.Native/luxcorebridge/deps/linuxa/lib/
Ulisse.Luxrender.Native/luxcorebridge/deps/windows/
